/* CSS for About Us page */

/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #777272df;

}
.logo h1 {
    font-size: 32px;
    margin: 0;
}

.logo h1 span {
    color: #f00;
    font-weight: bold;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}
header{
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 30px;
}

.group{
    margin-top: 15pt;
    background-color: #333;
    display: flex;
    align-items: center;
    z-index: 10;
}

header ul{
    position: relative;
    display: flex;
    gap: 30px;
}

header ul li{
    list-style: none;
}

header ul li a{
    position: relative;
    text-decoration: none;
    color: #ffffff;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

header ul li a::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background: #a7abce;
    bottom: -2px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
}

header ul li a:hover::before{
    transform: scaleX(1);
    transform-origin: left;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Founder styles */
.founders {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.founder {
    text-align: center;
    margin-bottom: 20px;
    width: 30%;
}

.founder img {
    width: 250px;
    border-radius: 10%;
}

.founder h2 {
    margin: 0;
}

.founder p {
    margin-top: 5px;
    color: #0d3932;
    font-weight: bold;
}

/* Contact Information styles */
.contact-info {
    text-align: center;
    margin-top: 20px;
    background-color: rgb(252, 252, 252);
    padding: 20px;
    border-radius: 20pt;
}

.contact-method {
    display: inline-block;
    margin: 0 20px;
}

.contact-method img {
    width: 90px; /* Adjust the size of the contact method images */
}

.shop-description {
    text-align: center;
    margin-top: 30px;
    background-color: rgba(245, 245, 220, 0.06);
    padding: 20px;
    border-radius: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

