/* CSS for FAQ page */

/* General styles */
.logo h1 {
    font-size: 32px;
    margin: 0;
}

.logo h1 span {
    color: #f00;
    font-weight: bold;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}
header{
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 30px;
}

.group{
    margin-top: 15pt;
    background-color: #333;
    display: flex;
    align-items: center;
    z-index: 10;
}

header ul{
    position: relative;
    display: flex;
    gap: 30px;
}

header ul li{
    list-style: none;
}

header ul li a{
    position: relative;
    text-decoration: none;
    color: #ffffff;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

header ul li a::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background: #a7abce;
    bottom: -2px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
}

header ul li a:hover::before{
    transform: scaleX(1);
    transform-origin: left;
}
body {
    font-family: Arial, sans-serif;
  background-color: #333333df;
    background-image: url('/images/jbplogo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-position: middle;
    background-size: 40%;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* FAQ styles */
.faq-list {
    margin-top: 20px;
}

.faq-item {
    margin-bottom: 40px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.faq-item:last-child {
    border-bottom: none;
}

.faq-item h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.faq-item p {
    line-height: 1.6;
}
