/* General CSS styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.logo {
    font-size: 32px;
    margin: 0;
    color: #f00; /* Change color as needed */
    font-weight: bold;
}
 img {
    max-width: 200px;
    height: auto;
}

.product {
    
    margin: 10px;
    padding: 10px;
    width: 200px;
    float: left;
}

nav {
    background-color: #444;
    color: #fff;
    padding: 10px;
    text-align: center;
}

section {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}