header {
    background-color: antiquewhite;
    padding:20px;
}

.mlogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5%;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

